
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('/src/public/pexels-jack-krzysik-7753054.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
